.container{
    display: flex;
    max-width: 990px;
    margin: 0 auto;
    flex-direction: column;
    padding: 2em;
}

.container h1{
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
}

.slideshow {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
  }
  
.slide {
display: inline-block;
width: 100%;
}