.container{
    display: grid;
    place-items: center;
    width: 100%;
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1200ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }